html
	head
		link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" , integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			h1.navbar-brand Product
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='/')
							| Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/user') User
					li.nav-item
						a.nav-link(href='/product') Product
					li.nav-item
						a.nav-link(href='/cart') Cart
							span.badge.badge-secondary= quality
			form.form-inline.my-2.my-lg-0.mr-0.ml-auto
				input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
				button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
		    	
		.container
			.row
				each product in products
					.col-md-3
						.card
							img.card-img-top(src=product.images, alt='images-product')
							.card-body
								h5.card-title= product.name
								p.card-text= product.description
								a.btn.btn-primary(href='/cart/add/'+product.id) ADD TO CART
				
				    
				    
		 
