extends ../layout/common

block content
	h1 List user
	ul
		each user in users
			li 
				img(src= user.avatar, width='30px')
				span= user.name
				span &nbsp
				a(href='/user/'+ user.id) View User 